.PreCarousel {
    background-color: #E2EAFF;
    padding: 65px 0 15px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .Image {
        display: inline-block;
        width: 35px;
    }

    p {}
}